{% extends 'template/template/base.html' %}
{% block title %} {{asset.name}}  {% endblock %}
{% block body %}
<h1>{{asset.name}}</h1>
<h3>Cost: ${{asset.cost}}</h3>
<h3>Availibility: {{asset.availibility}} </h3>
<h3>Outlength: {{asset.outLength}}</h3>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'AssetData:availibility' asset_id %}" method="post">
 	{% csrf_token %}
 	<input type="submit" value="On Rent">
</form>

<form method="POST" action="{% url 'AssetData:availibility' asset_id %}">
{% csrf_token %}
<input type="text" name="textfield">
<button type="submit">Upload text</button>
</form>
{% endblock %}