{% extends 'template/template/base.html' %}
{% block title %} {{asset.name}}  {% endblock %}
{% block body %}
<h1>{{asset.name}}</h1>
<h4>Cost: ${{asset.cost}}</h4>
<h4>Availibility: {{asset.availibility}} </h4>
<h4>Outlength: {{asset.outLength}}</h4>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'AssetData:availibility' asset_id %}" method="post">
 	{% csrf_token %}
 	<input type="submit" class="btn btn-default" value="On Rent">
</form>

<form method="POST" action="{% url 'AssetData:availibility' asset_id %}">
{% csrf_token %}
<input type="text" name="textfield">
<button type="submit" class="btn btn-default">Update Outlength</button>
</form>
{% endblock %}