{% extends 'template/template/base.html' %}
{% block title %} {{asset.name}}  {% endblock %}
{% block body %}
<!-- Loads path to static files -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
<link rel="stylesheet" type="text/css" href="{% static 'assetdata/style.css' %}" />


<!-- Prints all of the assets out in a list -->
{% if allAssets %} 
	<h3>All assets: </h3>
	<ul>
		{% for asset in allAssets %} 
			<li><a href="{% url 'AssetData:assetDetail' asset.id %}">{{ asset.name }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<h3>No assets registered</h3>
{% endif %}
{% endblock  %}