<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Customer{%  endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'CustomerData/css/stylesheet.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	jQuery(document).ready(function($){
		/*
		previously...
		$(".linkrow").click(function(){
			window.document.location = $(this).data("href");
		});
		*/
		//now link changes "tablew"'s content to reveal corresponding customer details 
		$(".linkrow").click(function(){
			$(".tablew").load($(this).data("href"));
		});
		$("#selectall").change(function(){
			$(".remove").prop('checked', $(this).prop("checked"));
		});
	});
	
	jQuery(document).on('submit', '#form2', function(e){
		e.preventDefault();
		$.ajax({
			type: 'POST',
			url: 'add/',
			data: $('#form2').serialize(),
			dataType: 'json',
			success:function(response){
				$('#msg').empty();
				if(response.error1 && response.error2){
					$('#msg').html('First name only allows letters</br> Last name only allows letters</br>');
				}
				else if(response.error1){
					$('#msg').html('First name only allows letters</br>');
				}
				else if(response.error2){
					$('#msg').html('Last name only allows letters');
				}
				else if(response.success){
					$('#msg').empty();
					alert("Added");	
					$('#addForm').modal('hide');
					window.location.reload(false); 
				}
			},
		});
	});
	
	</script>
</head>
<body>
 <nav class="navbar navbar-inverse">
     <div class ="container-fluid">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="/home">Rent</a>
         </div>
         <div class="collapse navbar-collapse" id="topNavBar">
             <ul class="nav navbar-nav">
                 <li class="">
                     <a href="{% url 'CustomerData:index' %}">
                         <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;
                         Customer
                     </a>
                 </li>
                 <li class="">
                     <a href="">
                         <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp;
                         Asset
                     </a>
                 </li>
                 <li class="">
                     <a href="">
                         <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                         Calender
                     </a>
                 </li>
                 <li>
                    <a href="{% url 'login:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
             </ul>
         </div>
     </div>
 </nav>
{% block body %}
{% endblock %}
</body>
</html>