.navbar {
	margin-bottom: 0px;
}

div.b1, div.b2{
	display: inline-block;
}

div.s {
	width: 100%;
	background-color: ;
	padding-top: 7px;
	margin-bottom: 0px;
}

div.b {
	background-color: ;
}

hr {
	border: none;
	height: 1px;
	color: black;
	background-color: black; 
	margin-top: 10px;
	margin-bottom: 0px;
}

th:first-child{
	color: white;
}

div.tablew {
	background-color: ;
}

#msg {
	color: red;
}