{% extends 'login/logbase.html' %}
{% block title %} User Register {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>New User Register</h3>
                        {%  if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                             {% csrf_token %}
                        {% include 'login/log_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        Existing Employee?  <a href="{% url 'login:login_user' %}">Click here</a> to log in.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
