<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1>Add Customer</h1>
</head>
<body>
	<!-- action = "" because will be redirected to the same view after django store the info into database
		method indicates how to send the data from the form; 
		"The form-data can be sent as URL variables (with method="get") or as HTTP post transaction (with method="post")."
	-->
	<form action="" method="post">
		{% csrf_token %}
		{% for field in form %}
		<div class = "form-group">
			<label>{{field.label_tag}}</label>
			<div>{{field}}</div>
		</div>
		{% endfor %}
			<button type= "submit" class ="btn btn-info">Submit</button>
	</form>
</body>
</html>
