<div class = "row container-fluid">
	<div class = "col-md-8">
		<table class = "table table-striped">
		
		<thead>
		<th>{{customer.first_name}}  {{customer.last_name}}</th>
		<th></th>
		</thead>
		
		<tbody>
		<tr>
			<!--automatic pk(id) given to created Customer object-->
			<td>ID</td>
			<td>{{customer.pk}}</td>
		</tr>
		<tr>
			<td>First Name</td>
			<td>{{customer.first_name}}</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td>{{customer.last_name}}</td>
		</tr>
		<tr>
			<td>Address</td>
			<td></td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td></td>
		</tr>
		</tbody>
		</table>
	</div>
	<div class = "col-md-4"></div>
</div>
<div class = "row container-fluid">
	<div class = "col-md-8">
	<!-- Remove button -->
	<button type = "button" class = "btn btn-danger remove" disabled>Remove</button>
	<!-- Edit button -->
	<button type = "button" class = "btn btn-default edit" disabled>Edit</button>
	</div>
	<div class = "col-md-4"></div>
</div>
