{% extends 'template/template/base.html' %}

{% block title %} Customer Data {% endblock %}

{% block body %}

<!-- modal for Adding Customer -->
<div id="addForm" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class ="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add Customer</h4>
			</div>
			<!-- INSERT FORM HERE -->
			<div class ="modal-body">
				<form name = "form2" method = "POST" id= "form2">
				{% csrf_token %}
				<table>
				<tbody>
				<tr>
					<td class = "addtable" >First Name </td>
					<td>{{add_form.first_name}}</td>
				</tr>
				<tr>
					<td class = "addtable">Last Name </td>
					<td>{{add_form.last_name}}</td>
				</tr>
				<tr>
					<td class = "addtable">Address </td>
					<td><input disabled></td>
				</tr>
				<tr>
					<td class = "addtable" >Phone Number </td> 
					<td><input disabled></td>
				</tr>
				</tbody>
				</table>
				<div id = "msg"></div>
					</tbody>
				</form>
			</div>
			<!-- END OF FORM -->
			<div class="modal-footer">
				<button type= "submit" class="btn btn-default" name = "add_form" form = "form2" value="add">Add</button>
				<button type= "button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class = "row container-fluid s">
	<div class = "col-md-1"></div>
	<div class = "col-md-7">
	<h4>Customer Data</h4></br>
	<!-- search bar -->
	<form name = "form1" action = "." method = "GET" class= "ss">
		{% csrf_token %}
		{{search_form}}
		<button type = "submit" name = "search_form" value = "search" class="btn btn-default search">Search</button> 
	</form>
	
	</div>
	<div class = "col-md-3">
	{%for x in list%}
	{%empty%}
		<h4 id = "no_customers">There are no Customers</h4>
	{%endfor%}
	</div>
	
	<div class = "col-md-1">
	</div>
</div>

<div class = "row container-fluid bb">
	<div class = "col-md-1"></div>
	
	<!-- list, add, remove  buttons -->
	<div class = "col-md-2 b">
		<a href="{% url 'CustomerData:index' %}"><button type = "submit" class = "btn btn-default btn-block">List</button></a>		
		
		<button type="button" data-toggle="modal" data-target="#addForm" class="btn btn-default btn-block">Add</button>
		
		<form name = "form3" id = "form3" action = "." method = "POST">
			{% csrf_token %}
			<button type = "submit" name = "remove_button" value = "remove" class= "btn btn-default btn-block">Remove</button>
		</form>	
	</div>
	
	
	<!-- table list for customers -->
	<div class = "col-md-8 checkbox tablew">
	<table class = "table table-responsive table-hover">
	<col width = "20">
		<thead>
			<th><label><input type = "checkbox" id="selectall" value=""/></label></th>
			<th>First Name</th>
			<th>Last Name</th>
		</thead>
		
		<tbody id = "list">
			{% for customer in list %}
			<tr style="cursor: pointer">
					<td><label><input type = "checkbox" form = "form3" class="remove" value="{{customer.id}}" name = "items[]"/></label></td>
					<td class = 'linkrow' data-href="{% url 'CustomerData:detail' customer.id %}" >{{customer.first_name}}</td>
					<td class = 'linkrow' data-href="{% url 'CustomerData:detail' customer.id %}" >{{customer.last_name}}</td>
			</tr>
			{% endfor %}
		
			<!-- if User uses Search, these will replace the full list of Customers -->
			{%for x in search_list%}
			<tr style="cursor: pointer">
				<td><label><input type = "checkbox" class="remove" value="{{x.id}}" name = "items[]" form = "form3"/></label></td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.first_name}}</td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.last_name}}</td>
			</tr>
			{%endfor%}
	
			{%for x in search_list2%}
			<tr style="cursor: pointer">
				<td><label><input type = "checkbox" class="remove" value="{{x.id}}" name = "items[]" form = "form3"/></label></td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.first_name}}</td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.last_name}}</td>
			</tr>
			{%endfor%}
	
			{%for x in search_list3%}
			<tr style="cursor: pointer">
				<td><label><input type = "checkbox" class="remove" value="{{x.id}}" name = "items[]" form = "form3"/></label></td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.first_name}}</td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.last_name}}</td>
			</tr>
			{%endfor%}
	
			{%for x in search_list4%}
			<tr style="cursor: pointer">
				<td><label><input type = "checkbox" class="remove" value="{{x.id}}" name = "items[]" form = "form3"/></label></td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.first_name}}</td>
				<td class = 'linkrow' data-href="{% url 'CustomerData:detail' x.id %}" >{{x.last_name}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	</div>
	<div class = "col-md-1"></div>
</div>
{% endblock %}